.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
  color: white;
}

.form-label {
  padding-left: 0px !important;
}

img {
  width: 140px;
  height: 140px;
}

button {
  display: inline;
}

.btn-success {
  background-color: #3b7d4a !important;
}

.btn-success:hover {
  background-color: #4daf64 !important;
}

img.track {
  border: 3px solid #4daf64;
}

.has-search .form-control {
  padding-left: 2.375rem;
  width: 50%;
  margin: 50px auto;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background-color: #fff !important;
}
.main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0em;
}
.audio {
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  background-color: #272727;
  color: white;
  box-shadow: 1px 1px 20px 1px black;
  flex: 1 1 250px;
  margin: 1em;
  border-radius: 5px;
}
.audio img {
  width: 200px;
  height: 200px;
  margin: 0.5em;
}
.audio h2 {
  font-weight: 500;
  font-size: medium;
  margin: 0.5em;
}
.audio p {
  font-size: small;
  font-weight: 300;
  text-align: center;
  margin: 0.5em;
}
.btn {
  background-color: #4aae4f !important;
}
